In [115]:
import tensorflow as tf
import numpy as np
import pandas as pd
from statFunctions import *
from helperFunctions import *

In [129]:
def generate_sequence(df, game_numbers, finalgame):
    if finalgame < 10:
        for x in range(finalgame+1):
            if x == 0:
                newdf = df[df['GmID'] == game_numbers[x]]
            else:
                df2 = df[df['GmID'] == game_numbers[x]]
                newdf = newdf.append(df2)
    else:
        for x in range(finalgame-9, finalgame+1):
            print(x)
            if x == finalgame - 9:
                newdf = df[df['GmID'] == game_numbers[x]]
            else:
                df2 = df[df['GmID'] == game_numbers[x]]
                newdf = newdf.append(df2)
    return newdf

In [119]:
def game_ids(df):
    gameids = []
    for x in range(len(df)):
        if df.loc[x, 'GmID'] not in gameids:
            gameids.append(df.loc[x, 'GmID'])
    return gameids

In [120]:
roster, ids = teamRoster('Atlanta Hawks', 2016)

ATL roster successfully parsed

In [121]:
print(len(roster))

17

In [130]:
path = r"C:\Users\jleus\OneDrive\Documents\CSVS"
csv = r"C:\Users\jleus\OneDrive\Documents\CSVS\Hawks2016v2.csv"
df = csv_to_df(csv)
df = clean_stats(df)
df = standerdize_stats(df)
df = rid_nans(df)
games = game_ids(df)

C:\Users\jleus\PycharmProjects\NBACNN\RNN\statFunctions.py:78: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_means = cleaned_df.mean()
C:\Users\jleus\PycharmProjects\NBACNN\RNN\statFunctions.py:79: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_stdevs = cleaned_df.std()

In [131]:
newdf = generate_sequence(df, games, 78)

69
70
71
72
73
74
75
76
77
78

In [132]:
newdf

,Name,G,Date,Age,Tm,Location,Opp,GS,Active,MP,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,BPM,GmID
69,"Bazemore, Kent",64.0,20160319.0,-0.379387,ATL,1,HOU,0.622878,1,-0.601105,...,-0.400063,-0.044274,0.509188,-0.551559,-0.870868,-0.662884,-0.021727,-0.254807,-0.428590,20160431
151,"Hardaway, Tim",39.0,20160319.0,-1.005622,ATL,1,HOU,0.622878,1,-0.198339,...,-0.186683,-1.006400,1.294806,-0.551559,-0.870868,0.614149,1.201874,-0.698425,2.058974,20160431
178,"Hinrich, Kirk",41.0,20160319.0,2.064289,ATL,1,HOU,0.622878,1,-2.124255,...,-1.390760,-1.006400,-0.731261,-0.551559,-0.870868,1.499111,-2.206730,0.898602,-3.652174,20160431
315,"Horford, Al",70.0,20160319.0,0.460029,ATL,1,HOU,0.622878,1,1.066182,...,0.819256,-0.698026,-0.111036,1.036431,-0.251036,0.972615,0.153073,-0.254807,0.344698,20160431
337,"Humphries, Kris",41.0,20160319.0,0.945714,ATL,1,HOU,0.622878,1,-0.867912,...,0.362011,0.270267,-0.731261,1.334179,-0.870868,-0.606874,1.027074,0.011365,0.549665,20160431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,"Schroder, Dennis",77.0,20160407.0,-1.504060,ATL,1,TOR,0.325489,1,-0.685952,...,-0.308614,0.732827,-0.731261,1.069514,1.086494,1.353484,-1.791580,-0.609701,-2.441001,20160519
893,"Scott, Mike",72.0,20160407.0,-0.101060,ATL,1,TOR,0.325489,1,-0.810666,...,2.785407,0.079075,-0.731261,-0.551559,-0.870868,0.871796,0.961524,-0.787149,1.481337,20160519
975,"Sefolosha, Thabo",72.0,20160407.0,1.028603,ATL,1,TOR,0.325489,1,0.747241,...,-0.826825,-0.630184,-0.731261,-0.551559,-0.870868,-0.909329,0.830424,0.011365,0.121096,20160519
1057,"Splitter, Tiago",0.0,20160407.0,0.960961,ATL,1,TOR,0.325489,0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20160519
1139,"Teague, Jeff",76.0,20160407.0,-0.091081,ATL,1,TOR,0.325489,1,0.843332,...,-1.390760,1.213890,-0.731261,0.275519,0.107813,1.409495,0.393423,-0.077359,0.661466,20160519